################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/dso-platform/FileContentIndex/e16dcc86-24f6-4de5-8975-345748cf0423.vsidx
/.vs/dso-platform/FileContentIndex/bb515461-3bf2-49ed-911d-e455b650d222.vsidx
/.vs/dso-platform/FileContentIndex/702114fa-a139-4eae-bea3-95241ce458a2.vsidx
/.vs/dso-platform/FileContentIndex/547c7955-e707-4d26-8ca1-63995694b9c5.vsidx

# Local .terraform directories
**/.terraform/*

# Ignore log file
tf_log.log

# .tfstate files
*.tfstate
*.tfstate.*
*.lock.hcl

**/local/*
# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*

manifests.tar
**/.package/*
**/.packages/*
**/.tmp/*
**/ssh-keys/*
# exclude local ssl directories
**/ssl/*